@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
 

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
*{
  @apply font-urbanist
}

.container{
  @apply md:max-w-[1024px] max-w-[600px] px-4 md:px-0 m-auto
}
.logo{
  @apply font-urbanist font-black text-2xl
}
.cart-icon{
  @apply relative text-[25px]
}
.cart-item-qty{
  @apply absolute text-[12px] top-0 right-[-5px] bg-red-500 w-[18px] h-[18px] rounded-3xl text-center text-white font-urbanist  font-black
}
.hero-section{
  @apply w-full md:h-[450px] h-[200px] flex items-center
}
.hero-contianer{
  @apply h-full md:max-w-[1024px] max-w-[600px] m-auto flex justify-center items-center relative px-4 md:px-0
}
.hero-airpods{
  @apply absolute md:mt-[300px] mt-[150px]
}



/* NEW PRODUCT DETAILS STARTS */
.product-details-section{
  @apply w-full md:py-16;
}

.product-details-container{
  @apply gap-8 md:max-w-[1024px] m-auto max-w-[600px] px-4 md:px-0  grid md:grid-cols-2 grid-cols-1 ;
}

.small-images-container{
  @apply flex gap-[5px] justify-center;
}

.quantity-desc{
  @apply p-[6px] flex border border-black;
}

.quantity-desc span{
  @apply text-[16px] cursor-pointer;
  padding: 6px 12px;
}

.quantity-desc .num{
  @apply text-[20px];
}

.quantity-desc .plus{
 color: rgb(49, 168, 49);
}

.quantity-desc .minus{
  color: red;
}

.btn{
  @apply  text-black md:w-1/2 md:p-5 px-2 py-1 text-xl font-bold w-full border border-4 border-black;
}

.add-to-cart{
  @apply hover:bg-black  hover:text-white;
}

/* NEW PRODUCT DETAILS ENDS */
